* {
	  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
body {
  font-size: 1rem;
  line-height: 1.5;
	padding: 0;
	margin: 0;

	color: $color-text;
	background-color: $color-body;
}

a {
  color: $color-link;

	&:hover,
	&:focus {
  	color: $color-text;
	}
}

blockquote {
	border-left: solid 0.5rem #eeeeee;
	padding-left: 2rem;
	margin-left: 0.25rem;
}
