* {
	  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
body {
  font-size: 1rem;
  line-height: 1.5;
	padding: 0;
	margin: 0;

	color: $color-text;
	background-color: $color-body;
}

a {
  color: $color-link;

	&:hover,
	&:focus {
  	color: $color-text;
	}
}

.draft {
	&:before {
		display: block;
		position: absolute;
		transform: translateX(-4em);
		content: "Draft";

		font-size: 14px;
		padding: 0 0.25em;
		background: #fff6b8;
		color: #ca8b00;
	}
}

	.anchor {
		display: none;
		float: left;
		text-align: center;
		margin-left: -2rem;
		width: 2rem; height: 2.5rem;
		font-size: 1.25rem;
		text-decoration: none;
		opacity: 0.5;

		background-image: url("/assets/img/icon-link.svg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 1.25rem 1.25rem;
	}
	h2:hover .anchor {
		display: block;
	}


.content {
  line-height: 1.75;

	// Size
	h1 { font-size: 3rem; }
	h2 { font-size: 2rem; }
	h3 { font-size: 1rem; }

	// Spacing
	*+* { margin-top: 1rem; }
	h1, h2, h3, h4, h5 { margin: 0; line-height: 1.25 }
	*+h2 { margin-top: 4rem; }
	*+h3 { margin-top: 2rem; }

	//
	blockquote {
		border-left: solid 0.5rem #dedede;
		padding-left: 1.5rem;
		margin-left: 0.25rem;
	}

	:target {
		animation-name: targetFade;
		animation-duration: 1s;
		@keyframes targetFade {
		  from {background-color: yellow;}
		  to {background-color: rgba(255,255,255,0);}
		}
	}
}