---
layout: "wrapper"
---

<div class="overlay" style="padding:3rem 0; display:flex; align-items: center;">
	<div class="wrapper content">

			<h1 style="color:white">{{ page.title }}</h1>
			<p>{{ content }}</p>

	</div>
</div>




<div class="wrapper">
	<h2 class="visuallyhidden">Latest posts</h2>
	<ol class="post-promos">
		{% for post in site.categories.[page.lore] %}
			{% if post.categories contains page.category %}
			<li>
				<div class="aspect-ratio-box">
					<div class="aspect-ratio-box-inside">
						{% for categories in site.nav[page.lore].categories %}
							{% if post.url contains categories[1].url -%}
								<small>{{ categories[1].title }}</small><br>
							{% endif %}
						{% endfor %}
						<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
					</div>
				</div>
			</li>
			{% endif %}
	  {% endfor %}
	</ol>
</div>