---
layout: "wrapper"
---
{{ content }}

<hr>

<h2><a href="/frontier2424">Frontier2424</a></h2>
<h3><a href="/frontier2424/factions">Factions</a></h3>
<ul>
	{% for post in site.categories.frontier2424 %}
		{% if post.categories contains "factions" %}
			<li>
				<a href="{{ post.url }}">{{ post.title }}</a>
			</li>
		{% endif %}
  {% endfor %}
</ul>

<h3><a href="/frontier2424/locations">Locations</a></h3>
<ul>
	{% for post in site.categories.frontier2424 %}
		{% if post.categories contains "locations" %}
			<li>
				<a href="{{ post.url }}">{{ post.title }}</a>
			</li>
		{% endif %}
  {% endfor %}
</ul>

<h3><a href="/frontier2424/characters">Characters</a></h3>
<ul>
	{% for post in site.categories.frontier2424 %}
		{% if post.categories contains "characters" %}
			<li>
				<a href="{{ post.url }}">{{ post.title }}</a>
			</li>
		{% endif %}
  {% endfor %}
</ul>

<hr>
<h2><a href="/blackfire4">blackfire4</a></h2>
<h3><a href="/blackfire4/organisations">Organisations</a></h3>
<ul>
	{% for post in site.categories.blackfire4 %}
		{% if post.categories contains "organisations" %}
			<li>
				<a href="{{ post.url }}">{{ post.title }}</a>
			</li>
		{% endif %}
  {% endfor %}
</ul>

<h3><a href="/blackfire4/locations">Locations</a></h3>
<ul>
	{% for post in site.categories.blackfire4 %}
		{% if post.categories contains "locations" %}
			<li>
				<a href="{{ post.url }}">{{ post.title }}</a>
			</li>
		{% endif %}
  {% endfor %}
</ul>

<!--
<small>
	<strong>All pages</strong>
	<ul>
	{% for page in site.pages %}
		{% if page.title %}
			<li><a href="{{ page.url }}">{{ page.title }}</a></li>
		{% endif %}
	{% endfor %}
	</ul>

	<strong>All posts</strong>
	<ul>
		{% for post in site.posts %}
	    <li>
	      <a href="{{ post.url }}">{{ post.title }}</a>
	    </li>
	  {% endfor %}
	</ul>

  <strong>All categories</strong>
  {% assign category_list = site.categories %}
  <ul>
  	{% for category in category_list %}
  			<li>
  				<a href="#{{ category[0] | slugify }}" class="post-tag">{{ category[0] }} {{ category[1].size }}</a>
  			</li>
  	{% endfor %}
  </ul>
</small>
-->
