---
layout: "wrapper"
---
<div class="splash overlay" {% if page.splash-img %}style="background-image: url({{ page.splash-img }})"{% endif %}>
	<div class="wrapper">
		<h1>{{ page.title }}</h1>
		<div class="intro">{{ page.intro | markdownify }}</div>
		{% for buttons in page.buttons %}
			<a href="{{ buttons[2] }}" class="button button--{{ buttons[0] }}">{{ buttons[1] }}</a>
	  {% endfor %}
	</div>
	{% if page.splash-img-attribution %}
		<div class="attribution">
			Artwork by <a href="{{ page.splash-img-attribution-url }}" class="">{{ page.splash-img-attribution }}</a>
		</div>
	{% endif %}
</div>


{% if page.lore -%}
	<section class="categories"><!-- Categories -->
		<div class="wrapper">
			<h2 class="visuallyhidden">categories</h2>
			<ul class="categories-list">
			{%- for categories in site.nav[page.lore].categories %}
					<li><a href="{{ categories[1].url }}">{{ categories[1].title }}</a></li>
			{% endfor %}
			</ul>
		</div>
	</section>

	<section class="latestposts"><!-- Latest posts -->
		<div class="wrapper">
			<h2 class="">Latest stories</h2>
			<ol class="post-promos">
				{% assign storiesCounter = 0 %}
				{% assign storiesMax = 4 %}
				{% for post in site.posts %}
				    {% if post.categories contains page.lore and post.categories contains "stories" %}
						<li>
							<div class="aspect-ratio-box" style="position:relative">
								<div class="aspect-ratio-box-inside postlist-body">
									<div class="postlist-head">
										{% for categories in site.nav[page.lore].categories %}
											{% if post.url contains categories[1].url -%}
												<small>{{ categories[1].title }}</small>
											{% endif %}
										{% endfor %}
										<!--{% assign wordCount = post.content | number_of_words | divided_by: 150 %}{% if wordCount <= 1 %}1{% else %}{{ wordCount }}{% endif %} minute read -->
									</div>
									<div class="postlist-main">
										<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
										<div>{{ post.excerpt | truncate: 156 }}</div>
									</div>
									<div class="postlist-footer">
										<small>
											{% for tag in post.tags %}
												<a href="{{site.baseurl}}/{{ page.lore }}/tags/#{{tag|slugify}}">{{ tag }}</a>
											{% endfor %}
										</small>
									</div>
								</div>
							</div>
						</li>
							{% assign storiesCounter = storiesCounter | plus: 1 %}
							{% if storiesCounter >= storiesMax %}
								{% break %}
							{% endif %}
						{% endif %}
				{% endfor %}
			</ol>
		</div>
	</section>

<hr>

	<section><!-- Latest posts -->
		<div class="wrapper">
			<h2 class="">Latest world building</h2>
			<ol class="post-promos">
				{% assign worldbuildingCounter = 0 %}
				{% assign worldbuildingMax = 8 %}
				{% for post in site.posts %}
				    {% if post.categories contains page.lore %}
						{% unless post.categories contains 'stories' or post.categories contains 'style-guides' %}
						<li>
							<div class="aspect-ratio-box" style="position:relative">
								<div class="aspect-ratio-box-inside postlist-body">
									<div class="postlist-head">
										{% for categories in site.nav[page.lore].categories %}
											{% if post.url contains categories[1].url -%}
												<small>{{ categories[1].title }}</small>
											{% endif %}
										{% endfor %}
										<!--{% assign wordCount = post.content | number_of_words | divided_by: 150 %}{% if wordCount <= 1 %}1{% else %}{{ wordCount }}{% endif %} minute read -->
									</div>
									<div class="postlist-main">
										<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
										<div>{{ post.excerpt | truncate: 156 }}</div>
									</div>
									<div class="postlist-footer">
										<small>
											{% for tag in post.tags %}
												<a href="{{site.baseurl}}/{{ page.lore }}/tags/#{{tag|slugify}}">{{ tag }}</a>
											{% endfor %}
										</small>
									</div>
								</div>
							</div>
						</li>
							{% assign worldbuildingCounter = worldbuildingCounter | plus: 1 %}
							{% if worldbuildingCounter >= worldbuildingMax %}
								{% break %}
							{% endif %}
						{% endunless %}
						{% endif %}
				{% endfor %}
			</ol>
		</div>
	</section>

<hr>

	<section><!-- Latest posts -->
		<div class="wrapper">
			<h2 class="">Latest guides</h2>
			<ol class="post-promos">
				{% assign guidesCounter = 0 %}
				{% assign guidesMax = 4 %}
				{% for post in site.posts %}
				    {% if post.categories contains page.lore and post.categories contains 'style-guides' %}
						<li>
							<div class="aspect-ratio-box" style="position:relative">
								<div class="aspect-ratio-box-inside postlist-body">
									<div class="postlist-head">
										{% for categories in site.nav[page.lore].categories %}
											{% if post.url contains categories[1].url -%}
												<small>{{ categories[1].title }}</small>
											{% endif %}
										{% endfor %}
										<!--{% assign wordCount = post.content | number_of_words | divided_by: 150 %}{% if wordCount <= 1 %}1{% else %}{{ wordCount }}{% endif %} minute read -->
									</div>
									<div class="postlist-main">
										<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
										<div>{{ post.excerpt | truncate: 156 }}</div>
									</div>
									<div class="postlist-footer">
										<small>
											{% for tag in post.tags %}
												<a href="{{site.baseurl}}/{{ page.lore }}/tags/#{{tag|slugify}}">{{ tag }}</a>
											{% endfor %}
										</small>
									</div>
								</div>
							</div>
						</li>
							{% assign guidesCounter = guidesCounter | plus: 1 %}
							{% if guidesCounter >= guidesMax %}
								{% break %}
							{% endif %}
						{% endif %}
				{% endfor %}
			</ol>
		</div>
	</section>
{%- endif %}

<hr>
{{ content }}
