---
layout: "wrapper"
---
<div class="splash overlay" {% if page.splash-img %}style="background-image: url({{ page.splash-img }})"{% endif %}>
	<div class="wrapper">
		<h1>{{ page.title }}</h1>
		<div class="intro">{{ page.intro | markdownify }}</div>
		{% if page.primary %}
			<a href="{{ page.primary[1] }}" class="button">{{ page.primary[0] }}</a>
  	{% endif %}
		{% if page.secondary %}
			<a href="{{ page.secondary[1] }}" class="button button--secondary">{{ page.secondary[0] }}</a>
  	{% endif %}
	</div>
	{% if page.splash-img-attribution %}
		<div class="attribution">
			Artwork by <a href="{{ page.splash-img-attribution-url }}" class="">{{ page.splash-img-attribution }}</a>
		</div>
	{% endif %}
</div>

{{ content }}

<ul>
	{% for post in site.categories.[page.lore] %}
		<li>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</li>
  {% endfor %}
</ul>
