---
layout: "wrapper"
---

{% if page.heroimg.src %}
	<div class="splash overlay" style="height:50vh; background-image:url({{ page.heroimg.src }}); background-size: cover; background-position: center center; display:flex; align-items: center;">
		<div class="wrapper content">
				<h1 style="color:white">{{ page.title }}</h1>
				{% include functions-breadcrumbs.html %}
				{% if page.author %}<p>Written by {{ page.author }}</p>{% endif %}
		</div>
		{% if page.heroimg.attr %}
			<div class="attribution">
			{% if page.heroimg.attrURL %}
				Image by <a href="{{ page.heroimg.attrURL }}" class="">{{ page.heroimg.attr }}</a>
			{% else %}
				Image by {{ page.heroimg.attr }}
			{% endif %}
			</div>
		{% endif %}
	</div>
{% endif %}

<div class="wrapper grid">

	<main class="content">
		{% if page.heroimg.src %}{% else %}
			<h1>{{ page.title }}</h1>
			{% include functions-breadcrumbs.html %}
			{% if page.author %}<p>Written by {{ page.author }}</p>{% endif %}
		{% endif %}

		{{ content }}

		<hr>
		{%- include functions-related-posts.html -%}
	</main>

	<aside class="sidebar">
		{%- include functions-toc.html -%}
	</aside>

</div>
