{%- include head.html -%}
<body>


	<h1 class="logo">
		{% if page.url == "/" %}
			{{ site.title }}
		{% else %}
			<a href="/">{{ site.title }}</a>
		{% endif %}
	</h1>

	<ul>
		<li>Worlds
			<ul>
				<li>frontier2424</li>
				<li>covert</li>
			</ul>
		</li>
	</ul>

	{% if page.lore %}<a href="/{{ page.lore }}/">{{ page.lore }}</a>{% endif %}

	{% for category in page.categories %}
	    <a href="/{% for category in page.categories limit:forloop.index %}{{category}}/{% endfor %}">{{category}}</a>
	{% endfor %}


	<!-- site.info -->
	<ul>
	  {% for info in site.info %}
				{% if info.url == page.url %}
					<li>{{ info.title }}</li>
				{% else %}
					<li><a href="{{ info.url }}">{{ info.title }}</a></li>
				{% endif %}
	  {% endfor %}
	</ul>


	<hr>
	{{ content }}

</body>
{%- include foot.html -%}
