<header>
<!-- ======= Logo ======= -->
<div class="nav-main">
	<h1 class="logo">
		{% if page.url == "/" %}
			{{ site.title }}
		{% else %}
			<a href="/">{{ site.title }}</a>
		{% endif %}
	</h1>

<!-- ======= Lore ======= -->
<div>
	<button class="dropdown-btn">
		{% if page.lore %}
			{{ site.nav[page.lore].title }}
		{% else %}
			Worlds:
		{% endif %}
	</button>

	<ul class="dropdown-box">
		{% for nav in site.nav %}
				{% if nav[0] == page.lore %}
					<li><strong><a href="{{ nav[1].url }}">{{ nav[1].title }}</a></strong></li>
				{% else %}
					<li><a href="{{ nav[1].url }}">{{ nav[1].title }}</a></li>
				{% endif %}
		{% endfor %}
	</ul>
</div>

<!-- ======= Categories ======= -->
	{% if page.lore %}
	<div>
		<button class="dropdown-btn">
		{% assign cat-title = "Categories" %}
			{% for categories in site.nav[page.lore].categories %}
				{% if page.categories[1] == categories[0] or categories[1].url == page.url %}
					{% assign cat-title = categories[1].title %}
				{% endif %}
			{% endfor %}
		{{ cat-title }}
		</button>

		<ul class="dropdown-box">
			{% for categories in site.nav[page.lore].categories %}
				{% if categories[1].url == page.url or page.categories contains categories[0] %}
					<li><strong><a href="{{ categories[1].url }}">{{ categories[1].title }}</a></strong></li>
				{% else %}
					<li><a href="{{ categories[1].url }}">{{ categories[1].title }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	{% endif %}
</div>

<div class="nav-sub">
<!-- ======= About ======= -->
	<h3 class="visuallyhidden">About</h3>
	<ul>
	  {% for info in site.info %}
				{% if info.url == page.url %}
					<li><strong><a href="{{ info.url }}">{{ info.title }}</a></strong></li>
				{% else %}
					<li><a href="{{ info.url }}">{{ info.title }}</a></li>
				{% endif %}
	  {% endfor %}
	</ul>
</div>
</header>
